.debhelper
debhelper-build-stamp
files
python3-protonvpn-killswitch.debhelper.log
python3-protonvpn-killswitch.postinst.debhelper
python3-protonvpn-killswitch.postrm.debhelper
python3-protonvpn-killswitch.prerm.debhelper
python3-protonvpn-killswitch.substvars
python3-protonvpn-killswitch
